.badgeButton {
  margin-right: 0.25vw;
  text-align: center !important;
  vertical-align: middle;
  min-height: 23.77px;
  border: none;
}

.profilePicture {
  border-radius: 100px;
  height: 10vw;
  width: 10vw;
  border:solid;
  margin:1vw;
}
.profilePictureModal {
  border-radius: 100px;
  border: solid;
  height: 15vw;
  margin-bottom:1vw;
  width: 15vw;
  min-height: 99px;
  min-width: 99px;
  padding: 0px !important;
}

